@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2bba9e;
}

.accordion {
    max-width: 530px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.accordion .accordion-content {
    background: #fff6ee;
    border-left: 4px solid #efc641;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0;
}

.accordion .accordion-content:nth-child(2) {
    background: #f1f1fe;
    border-left: 4px solid #928edf;
}

.accordion .accordion-content:nth-child(3) {
    background: #fef0f5;
    border-left: 4px solid #e696a8;
}

.accordion-content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.accordion-content header .title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
    transition: all 0.1s linear;
}

.accordion-content .description {
    padding: 0 15px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    height: 0;
    transition: all 0.2s linear;
}